<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="style/stylesheet.css" charset="utf-8">
    <title>Weekend Challenge #5</title>
  </head>
  <body>
    <ul ng-include="'partials/navigation.html'"></ul>
    <h1>Weekend Challenge #5</h1>
    <p>
      This is my pet app.  Click on the navigation buttons to add a pet or see what pets have been added.  I hope you enjoy this app as much as I enjoyed making it!
    </p>
  </body>
</html>
